* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: cracked;
  src: url(cracked.ttf);
}
nav span{
  margin: 0 auto;
}
.logo {
  font-family: cracked;
}

h1, h2 {
  text-align: center;
}

h2, h3 {
  font-weight: lighter;
}

h3 {
  font-size: 1.5em;
}

a {
  color: white;
}

a:visited {
  color: white;
}

.hero-text {
  text-align: center;
}

.hero-line {
  margin: 5vh auto;
  width: 60%;
  border-bottom: 1px white solid;
}

.button {
  padding: 10px 20px;
  border-radius: 0;
  width: 100%;

  max-width: 500px;
}

.play-button {
  background: #3380b5;
  border: none;
  margin-top: 50px;
}

.subs {
  color: gray;
}

.upgrade-button {
  background: none;
  color: white;
}

.icon {
  align-self: flex-start;
  width: 40px;
  margin: auto 5px auto 0px;
}

.divider {
  background-color: #3380b5;
  height: 2px;
  position: relative;
  /*border: 2px #3380b5 solid;*/
  width: 100%;
  margin: 10px auto 25px;
}
.divider-tab {
  position: absolute;
  top: -1px;
  width: 130px;
  height: 12px;
  margin-left: 30px;
  transform: perspective(100px) rotateX(-60deg);
  background: inherit;
}

@media screen and (min-width: 801px)  {
  .container {
    background-image: url(../img/black-hole2.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 10em 5em rgba(0,0,0,80);
  }
}
@media screen and (min-width: 501px) and (max-width: 800px)  {
  .background-one {
    background-image: url(../img/black-hole2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
  }
  .background-two {
    background-image: url(../img/space-three.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 1.5em 1.5em rgba(0,0,0,80);
  }
}
@media screen and (max-width: 500px)  {
  .background-one {
    background-image: url(../img/black-hole2.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px -13px 0px -13px;
    padding: 20px;
  }
  .background-two {
    background-image: url(../img/space-two.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 10em 5em #000;
    margin: 0px -13px 0px -13px;
  }
}
.desc {
  display: flex;
  background: rgba(0,0,0,0.5);
}
body {

  color: white;
  background: black;
}
.jumbotron {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  padding-top: 100px;
}

.cool-card {
  padding: 15px;
}

.navbar-brand {
  font-size: 3em;
}

.navbar-default {
  background: none;
  border: none;
}
.white {
  color: white;
}
.ship-img {
  width: 100%;
}
.display{
  height: 100%;

}
